language: java
jdk:
  - openjdk7
  - oraclejdk7
install:
  - gem install bundler
  - bundle install
  - echo "yes" | sudo apt-add-repository ppa:sharpie/for-science
  - echo "yes" | sudo apt-add-repository ppa:sharpie/postgis-stable
  - echo "yes" | sudo apt-add-repository ppa:ubuntugis/ubuntugis-unstable
  - sudo apt-get update
  - sudo apt-get install python-software-properties postgresql-9.1-postgis2
script: buildr clean package
